<!-- <ion-header>
  <ion-toolbar>
    <ion-title>request-token</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placeholder="start location" [(ngModel)]="start_loc"></ion-input>
  </ion-item>
<ion-item>
  <ion-input type="text" placeholder="end location" [(ngModel)]="end_loc"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Cost" [(ngModel)]="cost"></ion-input>

</ion-item>
<button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button>
<button ion-button full icon-left (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
<ion-card *ngIf="createdCode">
<ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
<ion-card-content>
  <p>Value:{{createdCode}}</p>
</ion-card-content>
</ion-card>
<ion-card *ngIf="scannedCode">
  <ion-card-content>
    Result from Scan : {{scannedCode}}
  </ion-card-content>



</ion-card>
</ion-content> -->
