<ion-content id="loginpage" class="home">
  <div class="login-bg">
  <div class="title-container">
    <h1>Ticketing System </h1>
  </div> 
  <img class="home-img"  [src]="'../../assets/images/ticket.jpg'">
  <ion-card class="card"> 
    <ion-card-content>

      <div class="validate-btn">
        <ion-button expand="block" (click)="login()" type="submit" color="transparent" class="ion-login-btn">Login</ion-button>
        <ion-button expand="block" (click)="request_account()" type="submit" color="transparent" class="ion-account-btn">Request for account</ion-button>
    </div>
    </ion-card-content>
  </ion-card>
  </div>




</ion-content>