<ion-content id="loginpage">
 
  <ion-content id="login-content">
     <div class="login-bg"> 
      <ion-card color="danger" id="login-user">
        <img class="back-arrow" (click)="backClicked()"
          [src]="'../../assets/images/back-arrow.png'">
        <h1>Add Credit</h1>
      </ion-card>

      <ion-card class="card">
          <ion-card-content>
    
    <form class="credit-form"  [formGroup]="credit_form">
      <ion-label class="lbl-credit" floating>Select Amount</ion-label>
      <ion-item>       
        <ion-input formControlName="credit" placeholder="amount"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Payment Method</ion-label>
        <ion-select  okText=Select cancelText="Cancel" >
          <ion-select-option value="0">Credit Card</ion-select-option>
          <ion-select-option value="1">Debit Card</ion-select-option> 
          <ion-select-option value="2">Master Card</ion-select-option>   
          <ion-select-option value="3">Visa Card</ion-select-option>        
        </ion-select>
      </ion-item>
    </form>
    <ion-button color="danger" (click)="proceed()" [disabled]="!credit_form.valid">Proceed
    </ion-button>
  </ion-card-content>

</ion-card>
</div>           
  
  
  
</ion-content>