<ion-content id="upage">
 
  <ion-content id="u-content">
     <div class="u-bg"> 
    <ion-card color="danger" id="manager-dashboard-head">
      <!-- <span><i class="fas fa-sign-out-alt"></i></span> -->
      <!-- <img class="logout-icon"
      [src]="'../../assets/images/back-arrow.png'"> -->
      <h1 >Passenger Dashboard</h1>
     </ion-card> 
  



  <ion-list>
    <ion-card  (click)="invoke()">
      <ion-card-header>
        <h5>Request Token</h5>
      </ion-card-header>
      <ion-card-content>
        <img 
        [src]="'../../assets/images/qr-code.png'">
      </ion-card-content>
    </ion-card>

    <ion-card (click)="invoke()">
      <ion-card-header>
        <h5>Account</h5>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card (click)="invoke()">
      <ion-card-header>
        <h5>Add Credit</h5>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-button  (click)="logout()" button ion-button block  icon-start color="danger" >LOG-OUT
      <ion-icon name='log-out' ></ion-icon>
  </ion-button>
  </ion-list>
</div>
</ion-content>