<ion-content id="loginpage">
 
  <ion-content id="login-content">
     <div class="login-bg"> 
      <ion-card color="danger" id="login-user">
        <img class="back-arrow" (click)="backClicked()"
          [src]="'../../assets/images/back-arrow.png'">
        <h3>View Inspectors</h3>
      </ion-card>

      <ion-card class="card">
          <ion-card-content>
    <ion-virtual-scroll [items]="inspectors" approxItemHeight="100px">
        <ion-list *virtualItem="let inspector;" class="tb-padding-none">
    <ion-item  class="slot-block">
     
      <ion-label class="recipient-name">
        <p>Inspector Name : {{inspector.user_name}}</p>            
    </ion-label>
    </ion-item>
  </ion-list>
    </ion-virtual-scroll>
  
  </ion-card-content>

</ion-card>
</div>           
  
  
  
</ion-content>