<ion-content id="mpage">
 
  <ion-content id="m-content">
     <div class="m-bg"> 
    <ion-card color="danger" id="manager-dashboard-head">
      <!-- <span><i class="fas fa-sign-out-alt"></i></span> -->
      <!-- <img class="logout-icon"
      [src]="'../../assets/images/back-arrow.png'"> -->
      <h1>Manager Dashboard</h1>
     </ion-card> 


  <ion-list>
    <ion-card  (click)="invoke()">
      <ion-card-header>
        <h5>System Overview</h5>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card (click)="invoke()">
      <ion-card-header>
        <h5>Generate Time Tables</h5>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card (click)="invoke()">
      <ion-card-header>
        <h5>Statistical Reports</h5>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card (click)="invoke()">
      <ion-card-header>
        <h5>View Inspectors</h5>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card (click)="invoke()">
      <ion-card-header>
        <h5>View Users</h5>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <ion-button  (click)="logout()" button ion-button block  icon-start color="danger" >LOG-OUT
      <ion-icon name='log-out' ></ion-icon>
  </ion-button>
  </ion-list>
  <!-- <ion-card class="logout"> -->
   
  <!-- </ion-card> -->
  </div>

</ion-content>