<ion-content id="loginpage">
 
  <ion-content id="login-content">
     <div class="login-bg"> 
      <ion-card color="danger" id="login-user">
        <img class="back-arrow" (click)="backCliked()"
          [src]="'../../assets/images/back-arrow.png'">
        <h3>Overview</h3>
      </ion-card>
    
<ion-card id="main-card">
  <ion-card-content>
  
  <ion-grid class="grid-full">
    <ion-row>
      <ion-col>
        <ion-card id="a">
          <h3>Number of Users</h3>
          <p>{{data.users}}</p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card id="b">
          <h3>Available Buses</h3>
          <p>{{data.buses}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card id="c">
          <h3>Inspectors</h3>
          <p>{{data.inspectors}}</p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card id="d">
          <h3>Ticket Violations</h3>
          <p>{{data.ticket_violations}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
      <ion-card id="e">
        <h3>Total Amount</h3>
        <p>{{data.amount}}</p>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>

  </ion-card-content>
</ion-card>
</div>  
    </ion-content>
    </ion-content>