<ion-content id="add-user-content">
  <ion-card color="danger" id="add-user">
    <img class="back-arrow" (click)="back()"
      [src]="'../../assets/images/back-arrow.png'">
  </ion-card>

  <ion-card>
    <ion-card-content>
      <!--User Registration form -->
      <form [formGroup]="register_user_form">

        <ion-item>
          <ion-label>Active user</ion-label>
          <ion-toggle formControlName="status" slot="start" color="success"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label class="lbl-sso-id" floating>
            Username:
          </ion-label>
          <ion-input type="text" formControlName="user_name" inputmode="text" ></ion-input>
        </ion-item>
        <div class="error-message"
          *ngIf="register_user_form.controls.sso_id.errors && (register_user_form.controls.sso_id.dirty||register_user_form.controls.sso_id.touched)">
          <p class="error-msg" *ngIf="register_user_form.controls.sso_id.errors.required" style="color:red">SSO ID
            is
            required</p>
          </div>

        <ion-item>
          <ion-label class="lbl-first-name" floating>
            First Name:
          </ion-label>
          <ion-input id="first_name" formControlName="first_name" type="text" maxlength="40"></ion-input>
        </ion-item>
        <div class="error-message"
          *ngIf="register_user_form.controls.first_name.errors && (register_user_form.controls.first_name.dirty||register_user_form.controls.first_name.touched)">
          <p class="error-msg" *ngIf="register_user_form.controls.first_name.errors.required" style="color:red">
            First
            Name is required
          </p>
          <p class="error-msg" *ngIf="register_user_form.controls.first_name.errors.pattern" style="color:red">
            Invalid format (Eg: John)
          </p>
        </div>
        
        <ion-item>
          <ion-label class="lbl-lastName" floating>
            NIC:
          </ion-label>
          <ion-input id="nic" type="text" formControlName="nic" ></ion-input>
        </ion-item>
        <div class="error-message"
          *ngIf="register_user_form.controls.last_name.errors && (register_user_form.controls.last_name.dirty||register_user_form.controls.last_name.touched)">
          <p class="error-msg" *ngIf="register_user_form.controls.last_name.errors.required" style="color:red">NIC
            is required</p>
          <p class="error-msg" *ngIf="register_user_form.controls.last_name.errors.pattern" style="color:red">Invalid format (Eg: Doe)</p>
        </div>

        <ion-item>
          <ion-label class="lbl-email" floating>
            Phone Number:
          </ion-label>
          <ion-input id="phone_number" type="numeric" formControlName="phone_number" maxlength="10" ></ion-input>
        </ion-item>
        <div class="error-message"
          *ngIf="register_user_form.controls.email.errors && (register_user_form.controls.email.dirty||register_user_form.controls.email.touched)">
          <p class="error-msg" *ngIf="register_user_form.controls.email.errors.required" style="color:red">Phone number is
            required</p>
        </div>

        <ion-item>
          <ion-label class="lbl-email" floating>
            Email:
          </ion-label>
          <ion-input id="email" type="email" formControlName="email"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label class="lbl-email" floating>
            Password:
          </ion-label>
          <ion-input id="password" type="text" formControlName="password" ></ion-input>
        </ion-item>
        <div class="error-message"
          *ngIf="register_user_form.controls.email.errors && (register_user_form.controls.email.dirty||register_user_form.controls.email.touched)">
          <p class="error-msg" *ngIf="register_user_form.controls.email.errors.required" style="color:red">Password is
            required</p>
        </div>

        
      </form>
      <ion-button color="danger" item-end (click)="register()" [disabled]="!register_user_form.valid">Register
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>