<ion-content id="loginpage">
<ion-content id="login-content">
  <div class="login-bg"> 
  <ion-card color="danger" id="login-user">
    <img class="back-arrow" (click)="back()"
      [src]="'../../assets/images/back-arrow.png'">
      <h1>Create Account</h1>
  </ion-card>

  <ion-card class="card">
    <ion-card-content>
      
      <!--User Registration form -->
      <form [formGroup]="register_user_form">
        <ion-label class="lbl-user_name" floating>
          Username:
        </ion-label>
        <ion-item>
          
          <ion-input type="text" formControlName="user_name" inputmode="text" ></ion-input>
        </ion-item>
        <div class="error-message"
          *ngIf="register_user_form.controls.user_name.errors && (register_user_form.controls.user_name.dirty||register_user_form.controls.user_name.touched)">
          <p class="error-msg" *ngIf="register_user_form.controls.user_name.errors.required" style="color:red">Username
            is
            required</p>
          </div>
          <ion-label class="lbl-nic" floating>
            NIC:
          </ion-label>
        <ion-item>
         
          <ion-input id="nic" type="text" formControlName="nic" ></ion-input>
        </ion-item>
        <div class="error-message"
          *ngIf="register_user_form.controls.nic.errors && (register_user_form.controls.nic.dirty||register_user_form.controls.nic.touched)">
          <p class="error-msg" *ngIf="register_user_form.controls.nic.errors.required" style="color:red">NIC
            is required</p>
         
        </div>
        <ion-label class="lbl-phone_number" floating>
          Phone Number:
        </ion-label>
        <ion-item>
         
          <ion-input id="phone_number" type="numeric" formControlName="phone_number" maxlength="10" ></ion-input>
        </ion-item>
        <div class="error-message"
          *ngIf="register_user_form.controls.phone_number.errors && (register_user_form.controls.phone_number.dirty||register_user_form.controls.phone_number.touched)">
          <p class="error-msg" *ngIf="register_user_form.controls.phone_number.errors.required" style="color:red">Phone number is
            required</p>
        </div>
        <ion-label class="lbl-email" floating>
          Email:
        </ion-label>
        <ion-item>
         
          <ion-input id="email" type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-label class="lbl-password" floating>
          Password:
        </ion-label>
        <ion-item>
         
          <ion-input type="password"  id="password"  formControlName="password" how-hide-input></ion-input>
        </ion-item>
        <div class="error-message"
          *ngIf="register_user_form.controls.password.errors && (register_user_form.controls.password.dirty||register_user_form.controls.password.touched)">
          <p class="error-msg" *ngIf="register_user_form.controls.password.errors.required" style="color:red">Password is
            required</p>
        </div>

        
      </form>
      <ion-button color="danger" item-end (click)="register()" [disabled]="!register_user_form.valid">Register
      </ion-button>

    </ion-card-content>
  </ion-card>
</div>
</ion-content>