#add-user{
    margin: 0 !important;
    ion-toolbar{
        ion-textarea{
            margin: 10px 0 !important;
        }
    }
    .back-arrow{
        width: 14px !important;
        height: 24px !important;
        float: left;
        display: inline-block;
        margin-left: 20px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
}
#add-user-content{
    ion-item{
        ion-label, ion-input{
            font-size: 14px !important;
        }
    }
    .error-message{
        margin-left: 14px;
    }
}