#top{
    background-color: #EA0EDC;
}
.cont{
    padding-top: 200px;
}

.uoe{
    padding-top: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.pwd{
    
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;  
}
.signin-btn{
    --box-shadow:none;
    border: 1px solid #E317BA !important;
    border-radius: 4px;
    padding-left: 10px !important;
    background-color: transparent !important;
    width: 200px !important;
    background: transparent !important;
    margin: 0 auto;
    color: #E317BA;
    
    }