#loginpage{
    .login-bg {
    // background-image: url(../../../assets/images/loginpage-bg.jpg);
    background-position: bottom center;
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: contain;
    // background: rgb(255,255,255);
    // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,188,188,1) 98%, rgba(255,0,19,1) 100%);
    
    #login-content{
        .back-arrow{
            width: 14px !important;
            height: 24px !important;
            float: left;
            display: inline-block;
            margin-left: 20px;
            margin-top: 14px;
            margin-bottom: 14px;
        }
    }

    }
    .wabtec-logo{
        width: 200px;
        margin: 80px auto;
        display: block;
    }
    .error-message{
        margin: 3% 5%;
        color: red;
        font-size: 12px;
        text-align: center;
    }
    .id-input{
        background-color: #ebebeb;
        border-radius: 4px;
        padding-left: 10px !important;
        border: 1px solid #d6d6d6;
        height: 45px;
        font-size: 14px;
    }
    .validate-btn{
        .button{
            //#ed1d24
            border: 1px solid #d70010 !important;
            border-radius: 4px;
            padding-left: 10px !important;
            background-color: transparent !important;
            width: 200px !important;
            background: transparent !important;
            margin: 0 auto;
            height: 50px;
            color: #d70010;
            text-shadow: none !important;
            .button-native{
                background-color: transparent !important;
                background: transparent !important;
            }
        }
    }
    .ssoid-container{
        width: 300px;
        margin: 0px auto 30px;

    }
    .text {
        font-size: 14px;
    }
    .ion-validate-btn{
        --box-shadow:none;
    }
}
