<ion-content id="loginpage">
 
    <ion-content id="login-content">
       <div class="login-bg"> 
        <ion-card color="danger" id="login-user">
          <img class="back-arrow" (click)="back()"
            [src]="'../../assets/images/back-arrow.png'">
          <h1>Login to Ticketing System </h1>
        </ion-card>

        <ion-card class="card">
            <ion-card-content>
              <!--User Registration form -->
              <form [formGroup]="login_user_form">
                <ion-label class="lbl-user_name" floating>
                  Username:
                </ion-label>
                <ion-item>
                  
                  <ion-input type="text" formControlName="user_name" inputmode="text" ></ion-input>
                </ion-item>
                <div class="error-message"
                  *ngIf="login_user_form.controls.user_name.errors && (login_user_form.controls.user_name.dirty||login_user_form.controls.user_name.touched)">
                  <p class="error-msg" *ngIf="login_user_form.controls.user_name.errors.required" style="color:red">Username
                    is
                    required</p>
                  </div>
                  <ion-label class="lbl-password" floating>
                    Password:
                  </ion-label>
                  <ion-item>
                   
                    <ion-input type="text" formControlName="password" inputmode="text" ></ion-input>
                  </ion-item>
                  <div class="error-message"
                    *ngIf="login_user_form.controls.password.errors && (login_user_form.controls.password.dirty||login_user_form.controls.password.touched)">
                    <p class="error-msg" *ngIf="login_user_form.controls.password.errors.required" style="color:red">Password    is
                      required</p>
                    </div>
                
        
                
              </form>
              <ion-button color="danger" item-end (click)="login()" [disabled]="!login_user_form.valid">login
              </ion-button>
             
            </ion-card-content>

          </ion-card>
      
          <div class="error-message"  *ngIf="pwd_invalid">
                    <p class="error-msg" style="color:red">Password incorrect</p>
          </div>
        </div>           
  
  
  
</ion-content>