<ion-content id="loginpage">
  
    <ion-content id="login-content">
        <ion-card color="danger" id="login-user">
          <img class="back-arrow" (click)="back()"
            [src]="'../../assets/images/back-arrow.png'">
        </ion-card>
  
  
  
  
  
  
  
  
  
  
  
    <!-- <div class="login-bg">
  <div class="wabtec-logo"><img src="../../assets/images/wabtec-logo.png" ></div> -->
  <!-- <div class="ssoid-container">
          <ion-label class="text">Please enter username</ion-label>
          <ion-item class="btn" no-padding lines="none">
              <ion-input  [(ngModel)]="user_name" placeholder="User Name"   class="id-input"></ion-input>
          </ion-item>
  </div>
  <div *ngIf="errorMessage" class="error-message">
      <ion-icon color="danger"  name="information-circle"></ion-icon>
      {{ errorMessage }}
  </div>
  <div class="validate-btn">
      <ion-button expand="block" (click)="login()" type="submit" color="transparent" class="ion-validate-btn">Validate</ion-button>
  </div>
  </div> -->
</ion-content>