#user-profile-header{
    .item-inner {
        --padding-right: 0px!important;
     }
    div.animated.fadeInDown {
        width: 44px;
        margin: 0 auto;
        img{
            width: 60px !important;
            height: 60px!important;
        }
    }
    .cam-btn{
        --background: transparent !important;
        --box-shadow: none !important;
    }
    .cam-icon{
        width: 26px;
        height: 21px;
    }
}
#user-profile-content{
    //#d60034
    top: -16px !important;
    --background: #d70010;
    background: -moz-linear-gradient(top, #d70010 0%, #d70010 12%, #ebebeb 12%, #ebebeb 100%);
    --background: -webkit-linear-gradient(top, #d70010 0%,#d70010 12%,#ebebeb 12%,#ebebeb 100%);
    --background: linear-gradient(to bottom, #d70010 0%,#d70010 12%,#ebebeb 12%,#ebebeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60034', endColorstr='#ebebeb',GradientType=0 );
    .body-content {
        background: #fff;
        .header-content {
            padding-left: 0px;
            padding-top: 12px;
            ion-input{
                text-align: center;
                input {
                    padding: 0px !important;
                }
            }
        }
    }
    .label-ash{
        --color: #727272 !important;
        min-width: 100px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
    }
    .label-ash-min{
       // @extend .label-ash;
       --color: #727272 !important;
       min-width: 200px;
       margin-top: 0;
       margin-bottom: 0;
       font-size: 14px;
    }
    .profilepage-ion-input{
        font-size: 14px;
    }
    .active-status{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #0cee07;
        margin-left: 5px;
    }
}
#col-padding-none{
    ion-col{
        padding: 0px 0px 0px 10px !important;
    }
}