 
<!-- -->
<ion-content id="loginpage">
 
  <ion-content id="login-content">
     <div class="login-bg"> 
      <ion-card color="danger" id="login-user">
        <img class="back-arrow" (click)="backClicked()"
          [src]="'../../assets/images/back-arrow.png'">
        <h1>Account Details </h1>
      </ion-card>

      <ion-card class="card">
          <ion-card-content>
    <form class="list-form">
      <ion-item lines="none">
        <ion-label floating class="label-ash" >

          User Name
        </ion-label>
        <ion-input type="number" readonly class="profilepage-ion-input" id="p">{{profile.user_name}}</ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label floating class="label-ash">

         NIC
        </ion-label>
        <ion-input type="number" readonly class="profilepage-ion-input" id="q">{{profile.nic}}</ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label floating class="label-ash">

         Phone Number
        </ion-label>
        <ion-input type="number" readonly class="profilepage-ion-input" id="r">{{profile.phone_number}}</ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label floating class="label-ash">
          Email
        </ion-label>
        <ion-input type="number" readonly class="profilepage-ion-input" id="s">{{profile.email}}</ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label floating class="label-ash">
          Credit
        </ion-label>
        <ion-input type="number" readonly class="profilepage-ion-input" id="t">{{profile.credit}}</ion-input>
      </ion-item>

    </form>
    <ion-button color="danger" item-end (click)="viewTrips()">View Trips
    </ion-button>
  </ion-card-content>

</ion-card>
</div>           
  
  
  
</ion-content>