<ion-content id="u_dash">
    <ion-card color="danger" id="manager-dashboard-head">
      <!-- <span><i class="fas fa-sign-out-alt"></i></span> -->
      <img class="logout-icon"
      [src]="'../../assets/images/back-arrow.png'">
     </ion-card> 
  <h1 id="title">Welcome</h1>



  <ion-list>
    <ion-card  (click)="invoke()">
      <ion-card-header>
        <h5>Scan QR</h5>
      </ion-card-header>
      <ion-card-content>
        <img 
        [src]="'../../assets/images/qrcodedcan.png'">
      </ion-card-content>
    </ion-card>

    <ion-card (click)="invoke()">
      <ion-card-header>
        <h5>Manual Ticket</h5>
      </ion-card-header>
      <ion-card-content>
        <img 
        [src]="'../../assets/images/ticket.png'">
      </ion-card-content>
    </ion-card>

    <ion-card (click)="invoke()">
      <ion-card-header>
        <h5>View Tickets</h5>
      </ion-card-header>
      <ion-card-content>
        <img 
        [src]="'../../assets/images/ticket3.png'">
      </ion-card-content>
    </ion-card>


  </ion-list>
</ion-content>