<ion-content id="ipage">
 
  <ion-content id="i-content">
     <div class="i-bg"> 
    <ion-card color="danger" id="manager-dashboard-head">
      <!-- <span><i class="fas fa-sign-out-alt"></i></span> -->
      <!-- <img class="logout-icon" -->
      <!-- [src]="'../../assets/images/back-arrow.png'"> -->
      <h3>Inspector Dashboard</h3>
     </ion-card> 
  



  <ion-list>
    <ion-card  (click)="scanQR()">
      <ion-card-header>
        <h5>Scan QR</h5>
      </ion-card-header>
      <ion-card-content>
        <img 
        [src]="'../../assets/images/qrcodedcan.png'">
      </ion-card-content>
    </ion-card>

    <!-- <ion-card (click)="ticket()">
      <ion-card-header>
        <h5>Manual Ticket</h5>
      </ion-card-header>
      <ion-card-content>
        <img 
        [src]="'../../assets/images/ticket.png'">
      </ion-card-content>
    </ion-card> -->

    <ion-card (click)="viewTickets()">
      <ion-card-header>
        <h5>View Tickets</h5>
      </ion-card-header>
      <ion-card-content>
        <img 
        [src]="'../../assets/images/ticket3.png'">
      </ion-card-content>
    </ion-card>

    <ion-button  (click)="logout()" button ion-button block  icon-start color="danger" >LOG-OUT
      <ion-icon name='log-out' ></ion-icon>
  </ion-button>
  </ion-list>
</div>
</ion-content>