ion-list{
    margin-top:45px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: yellow;
    ion-card{
        border-radius: 15px;
        margin-top: 25px;

        ion-card-header{
            h5{
                color: red;
                text-align: center;
            }

        }
        ion-card-content{
            img{
                height: 70px;
                width: 70px;
                margin-left: 140px;
            }
        }
    }
}


#u_dash{
    margin: 0 !important;
    ion-toolbar{
        ion-textarea{
            margin: 10px 0 !important;
        }
    }
    .logout-icon{
        width: 14px !important;
        height: 24px !important;
        float: left;
        display: inline-block;
        margin-left: 20px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    #title{
        color: red;
        text-align: center;
        margin-top: 40px;
    }
}