<ion-header id="top">
    <ion-buttons slot="start">
        <ion-back-button  defaultHref="login"></ion-back-button>
      </ion-buttons>
    
</ion-header>
<ion-content>
  <div class="cont">
  <form [formGroup] = "signUpForm">

    
      <div class="email">
        <ion-item>
          <ion-label position="floating"  >Email</ion-label>
          <ion-input id="email" type="email" formControlName="email" required></ion-input>
        </ion-item>
      </div>

      <div class="error-msg" *ngIf = "signUpForm.controls.email.errors && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched)"><p class="err" *ngIf="signUpForm.controls.email.errors.required" style="color: red;">Email is required</p><p class="err" *ngIf="signUpForm.controls.email.errors.email && signUpForm.controls.email.touched" style="color: red;">Incorrect format</p></div>

      <div class="username">
        <ion-item>
          <ion-label position="floating"  >User Name</ion-label>
          <ion-input id="user_name" formControlName="user_name" required></ion-input>
        </ion-item>
      </div>

      <div class="error-msg" *ngIf = "signUpForm.controls.user_name.errors && (signUpForm.controls.user_name.dirty || signUpForm.controls.user_name.touched)"><p class="err"  *ngIf="signUpForm.controls.user_name.errors.required" style="color: red;">Username is required</p></div>


      <div class="pwd">
        <ion-item>
          <ion-label position="floating"  >Password</ion-label>
          <ion-input id="password" type="password" formControlName="password" required></ion-input>
        </ion-item>
      </div>

      <div class="error-msg" *ngIf = "signUpForm.controls.password.errors && (signUpForm.controls.password.dirty || signUpForm.controls.password.touched)"><p class="err"  *ngIf="signUpForm.controls.password.errors.required" style="color: red;">Password is required</p></div>


 <!--    <div class="re-pwd">
        <ion-item>
          <ion-label position="floating">Re Enter Password</ion-label>
          <ion-input id="re-enter" type="Password"></ion-input>
        </ion-item>
      </div>--> 

    <!--  <div class="error-msg" *ngIf = "signUpForm.controls.re-pwd.errors && (signUpForm.controls.re-pwd.dirty || signUpForm.controls.re-pwd.touched)"><p *ngIf="signUpForm.controls.re-pwd.required" style="color: red;">Plese re enter password</p></div>-->

    
  </form>

  <div class="register">
    <div class="ion-padding">
      <ion-button expand="block" type="ion-button" color="transparent" class="signup-btn" 
        (click)="register()">Sign Up</ion-button>
    </div>
  </div>
    
</div>
</ion-content>