.cont{
    padding-top: 200px;
}
#top{
    background-color: #EA0EDC;
}
/*
.btn-sign-up{
    padding-left: 850px;
    margin-top: 30px;
    
}
.email{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}
.username{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}
.pwd{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}
*/
.signup-btn{
    --box-shadow:none;
    border: 1px solid #E317BA !important;
    border-radius: 4px;
    padding-left: 10px !important;
    background-color: transparent !important;
    width: 200px !important;
    background: transparent !important;
    margin: 0 auto;
    color: #E317BA;
    
    }