<ion-header id="top" >
  <ion-buttons id="top-button"  >
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  <ion-title id="top-title"  >Add Birth Day</ion-title>

</ion-header>

<ion-content>
  <div class="cont">
    <form [formGroup]="addBirthDay">
      <div class="date">
        <ion-item>
          <ion-label position="floating" >Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" picker-format="MM/DD/YYYY" formControlName="date" required></ion-datetime>
        </ion-item>
      </div>

      <div class="error-msg"
        *ngIf="addBirthDay.controls.date.errors && (addBirthDay.controls.date.dirty || addBirthDay.controls.date.touched)">
        <p class="err" *ngIf="addBirthDay.controls.date.errors.required" style="color: red;">Please select date</p>
         </div>

      <div class="name">
        <ion-item>
          <ion-label position="floating" >Name</ion-label>
          <ion-input type="text" id="name" formControlName="name" required></ion-input>
        </ion-item>
      </div>

      <div class="error-msg"
        *ngIf="addBirthDay.controls.name.errors && (addBirthDay.controls.name.dirty || addBirthDay.controls.name.touched)">
        <p class="err" *ngIf="addBirthDay.controls.name.errors.required" style="color: red;">Please enter name</p>
      </div>
      <div class="phone">
        <ion-item>
          <ion-label position="floating" >Phone Number</ion-label>
          <ion-input type="tel" id="phone" formControlName="phone"></ion-input>
        </ion-item>
      </div>

      <div class="msg">
        <ion-item>
          <ion-label position="floating" >Message</ion-label>
          <ion-input type="text" id="msg" formControlName="msg" required></ion-input>
        </ion-item>
      </div>
     

    </form>
  <div class="event">
      <div class="ion-padding">
        <ion-button expand="block" type="ion-button" color="transparent" class="add-event-btn" 
          (click)="add()">Add Birth Day</ion-button>
      </div>
    </div>

  </div>
</ion-content>